/*===========================================================================
    General 
===========================================================================*/
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --color-default: #0a0d13;
  --color-primary: #0d42ff;
  --color-secondary: #0e1d34;
  --text-primary: rgba(255, 255, 255, 0.6);
}

.scrollTop {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 0.4rem;
  z-index: 2;
  cursor: pointer;
  position: fixed;
  right: 50px;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
}
.scrollTop img {
  background: var(--color-primary);
  width: 100%;
  height: 90%;
  border-radius: 0.3rem;
}

.scrollTop.active {
  opacity: 1;
  visibility: visible;
}

/*===========================================================================
    Utility classes
===========================================================================*/
.f-start {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.d-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.background {
  width: 100%;
  height: 100vh;
  background: var(--color-secondary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}
@media (max-width: 1029px) {
  .container {
    width: 95%;
  }
}

.button {
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 0 1rem;
  transition: all 0.3s ease;
  font-size: 1rem;
  height: 40px;
}
.button:hover {
  opacity: 0.8;
}

.button--blue {
  background: var(--color-primary);
  color: #fff;
}

.button--transparent {
  background: transparent;
  color: var(--text-primary);
}

.background--white {
  background: #fff;
}

.ul__prices {
  list-style: none;
}
.ul__prices li {
  color: #6c757d;
  padding-top: 1.5rem;
  line-height: 20px;
}
.ul__prices li img {
  padding-right: 0.5rem;
  max-width: 15px;
}

.ul__prices {
  list-style: none;
}
.ul__prices li {
  color: #6c757d;
  padding-top: 1.5rem;
  line-height: 20px;
}
.ul__prices li img {
  padding-right: 0.5rem;
  max-width: 15px;
}

.price--error {
  text-decoration: line-through;
  opacity: 0.6;
}

/*===========================================================================
    Header
===========================================================================*/
.header {
  background: rgba(14, 29, 52, 0.9);
  height: 4.5rem;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header__logo {
  color: #fff;
  font-weight: 700;
  font-size: clamp(24px, 3vw, 32px);
  text-transform: capitalize;
}

.image__menu {
  display: none;
  cursor: pointer;
}
@media (max-width: 1029px) {
  .image__menu {
    display: block;
  }
  .image__menu img {
    max-width: 21px;
  }
}

.nav__links {
  list-style: none;
}
@media (max-width: 1029px) {
  .nav__links {
    display: none;
  }
}
.nav__links li {
  padding: 10px 0 10px 30px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}
.nav__links li a {
  text-decoration: none;
}

.link {
  color: var(--text-primary);
}

.link--active {
  color: #fff;
}

.dropwdown:hover .dropdown__content {
  display: flex;
  position: absolute;
  width: 200px;
  height: 230px;
  right: 300px;
  top: 55px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.dropwdown a {
  display: flex;
  align-items: center;
}
.dropwdown img {
  width: 15px;
  height: 15px;
  padding-left: 0.3rem;
}

.dropdown__item {
  color: var(--text-primary);
}
.dropdown__item:hover {
  cursor: pointer;
}

.dropdown__content {
  display: none;
  background: #fff;
  height: 30px;
  width: 30px;
  z-index: 3;
  border-radius: 4px;
  transition: all 3s ease;
}
.dropdown__content ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dropdown__content a {
  color: var(--color-secondary);
}
.dropdown__content a:hover {
  color: var(--color-primary);
}

.dropdown--sub.dropdown__content--sub {
  display: none;
}
.dropdown--sub .dropdown__item {
  color: var(--text-primary);
}
.dropdown--sub:hover .dropdown__content {
  display: flex;
  width: 200px;
  height: 230px;
  background: #fff;
  position: absolute;
  left: -200px;
  top: 60px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  border-radius: 4px;
  transition: all 3s ease;
}

.nav__button-group {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
}
@media (max-width: 1029px) {
  .nav__button-group {
    display: none;
  }
}

/*===========================================================================
    Hero
===========================================================================*/
.hero {
  background-image: url("../assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1115px) {
  .hero {
    padding-top: 3rem;
  }
}
@media (max-width: 1029px) {
  .hero {
    padding-top: 5rem;
  }
}
@media (max-width: 924px) {
  .hero {
    padding-top: 10rem;
  }
}
@media (max-width: 1028px) {
  .hero {
    height: 0%;
  }
}

@media (max-width: 1028px) {
  .hero__container {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}

.hero__image img {
  max-width: 450px;
}
@media (max-width: 425px) {
  .hero__image img {
    width: 150px;
  }
}
@media (max-width: 423px) {
  .hero__image img {
    width: 350px;
  }
}
@media (max-width: 883px) {
  .hero__image img {
    max-width: 100%;
  }
}
@media (max-width: 1028px) {
  .hero__image {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .hero__image img {
    max-width: 100%;
  }
}

.hero__content {
  max-width: 55%;
}
@media (max-width: 1028px) {
  .hero__content {
    padding-top: 2.5rem;
    max-width: 100%;
  }
}

@media (max-width: 885px) {
  .hero__title {
    width: 100%;
  }
}
.hero__title h2 {
  color: #fff;
  font-size: 2.8rem;
}
.hero__title p {
  padding-top: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  line-height: 23px;
  max-width: 90%;
}

.hero__form {
  margin-top: 2rem;
  background: #fff;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.6rem;
}
.hero__form input {
  outline: none;
  border: none;
  width: 70%;
  height: 100%;
  margin-left: 2.5rem;
  font-size: 1rem;
}
.hero__form input::-moz-placeholder {
  font-size: 1rem;
}
.hero__form input:-ms-input-placeholder {
  font-size: 1rem;
}
.hero__form input::placeholder {
  font-size: 1rem;
}
.hero__form button {
  background: var(--color-primary);
  border: none;
  margin-right: 1rem;
  width: 25%;
  height: 80%;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
}
.hero__form button:hover {
  background: var(--color-primary);
  opacity: 0.9;
}

.hero__increment {
  margin-top: 3rem;
  display: flex;
}
@media (max-width: 1028px) {
  .hero__increment {
    padding-bottom: 3rem;
  }
}
@media (max-width: 450px) {
  .hero__increment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.increment__element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-bottom: 1.5rem;
}

.increment__title {
  font-weight: 700;
  color: white;
  font-size: 2rem;
}

.increment__border--blue {
  margin-top: 1em;
  margin-bottom: 1em;
  background: var(--color-primary);
  width: 30px;
  height: 5px;
}

.increment__color {
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  opacity: 0.7;
}

/*===========================================================================
   Fast Delivery
===========================================================================*/
.fast__delivery {
  background: #fff;
  height: 50vh;
}

.card__image {
  padding-right: 1rem;
}
.card__image img {
  width: 70px;
  height: 70px;
}

.card__information {
  max-width: 400px;
  display: flex;
  margin-right: 1.5em;
  height: 80%;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card__info span {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-secondary);
  transition: 0.3s;
  text-transform: capitalize;
  cursor: pointer;
}
.card__info p {
  color: #132848;
  font-size: 15px;
  text-transform: capitalize;
}
.card__info button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: transparent;
  width: 110px;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 15px;
  cursor: pointer;
}
.card__info button img {
  width: 15px;
  height: 20px;
}
.card__info:hover span {
  color: var(--color-primary);
}
.card__info:hover button {
  color: var(--color-primary);
}

/*===========================================================================
   About US
===========================================================================*/
.about__us {
  height: 100vh;
  background: #fff;
}

.about__information {
  max-width: 520px;
  height: 100%;
}
.about__information h2 {
  font-weight: 700;
  color: var(--color-primary);
  font-size: 32px;
  text-transform: capitalize;
}
.about__information p {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  line-height: 1.5rem;
}

.about__image {
  width: 100%;
  height: 100%;
}
.about__image img {
  width: 100%;
  height: auto;
  margin-left: 1rem;
}

.about__element {
  margin-bottom: 0.6rem;
}
.about__element img {
  max-width: 50px;
  margin-right: 1rem;
}

.about__text span {
  font-size: 18px;
  font-weight: 700;
  color: #19335c;
}
.about__text p {
  font-size: 15px;
}

/*===========================================================================
   Our Services
===========================================================================*/
.our__services {
  height: 100%;
  background: var(--color_element--white);
  padding-bottom: 2rem;
}

.our__services__title {
  width: 100%;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our__services__title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #001973;
}
.our__services__title span {
  width: 5%;
  height: 0.3rem;
  background: #001973;
}

.cards__content {
  width: 100%;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(14, 29, 52, 0.15);
  height: 430px;
  max-width: 344px;
  margin-bottom: 1.5rem;
}
.card__element img {
  width: 100%;
}
.card__element span {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.card__element span img {
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.card__element span img:hover {
  transform: scale(1.1);
}

.cards__information__services {
  width: 90%;
  margin-top: 1rem;
  height: 70%;
}
.cards__information__services span {
  color: #001973;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
.cards__information__services p {
  margin-top: 1.5rem;
  line-height: 23px;
  color: var(--color-secondary);
  font-size: 15px;
}

/*===========================================================================
   Action 
===========================================================================*/
.action {
  height: 55vh;
  background: linear-gradient(rgba(14, 29, 52, 0.6), rgba(14, 29, 52, 0.8)), url("../assets/cta-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.action__information {
  text-align: center;
  max-width: 60%;
}
.action__information h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.action__information p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
}
.action__information button {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  text-transform: capitalize;
}
.action__information button:hover {
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
}

/*===========================================================================
   Features
===========================================================================*/
.features {
  height: 0%;
}

.features__right {
  padding-top: 5rem;
}
.features__right img {
  max-height: 300px;
}

.features__information {
  padding-left: 2rem;
  height: 90%;
}
.features__information p {
  margin-top: 1rem;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.4rem;
}

.ul__features {
  margin-top: 1rem;
  list-style: none;
}
.ul__features li {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.ul__features li img {
  max-width: 15px;
  margin-right: 0.6rem;
}

.features__title {
  color: #001973;
  font-weight: 600;
  font-size: 26px;
  text-transform: capitalize;
}

.features__left {
  padding-top: 8rem;
}
.features__left img {
  max-height: 300px;
}

.features__information__left {
  max-width: 60%;
}
.features__information__left p {
  margin: 1rem 0 1rem 0;
}

/*===========================================================================
   Pricing
===========================================================================*/
.pricing {
  padding-bottom: 7rem;
}

.title__pricing {
  padding-top: 10rem;
}

.cards__pricings {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
}

.card__pricing {
  background: #fff;
  height: 100%;
  width: 350px;
  padding-bottom: 2rem;
  border-radius: 6px;
  box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
}

.card--border {
  border-top: 2px solid var(--color-primary);
  border-width: 4px;
}

.card__container {
  height: 80%;
  width: 80%;
}
.card__container span {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 1.3rem;
  color: var(--color-secondary);
  text-transform: capitalize;
}
.card__container h3 {
  margin-top: 1rem;
  font-size: 48px;
  color: var(--color-primary);
  font-weight: 400;
  font-family: var(--font-primary);
  margin-bottom: 25px;
}
.card__container h3 sup {
  font-size: 28px;
}
.card__container h3 span {
  color: rgba(108, 117, 125, 0.8);
  font-size: 18px;
  text-transform: lowercase;
  font-weight: 400;
}

.ul__prices {
  list-style: none;
}
.ul__prices li {
  color: #6c757d;
  padding-top: 1.5rem;
  line-height: 20px;
}
.ul__prices li img {
  padding-right: 0.5rem;
  max-width: 15px;
}

.button__prices {
  border: 1px solid var(--color-primary);
  padding: 12px 35px;
  border-radius: 4px;
  color: var(--color-primary);
  transition: none;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-primary);
  background: transparent;
  cursor: pointer;
  margin-top: 2.5rem;
}
.button__prices:hover {
  color: #fff;
  background: var(--color-primary);
}

.button--blue {
  background: var(--color-primary);
  color: white;
}

/*===========================================================================
   Footer
===========================================================================*/
.footer {
  height: 55vh;
}

.footer__information {
  max-width: 40%;
  height: 100%;
  padding-top: 2rem;
}
.footer__information h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: clamp(35px, 1vh, 35px);
}
.footer__information p {
  padding-top: 0.5rem;
  color: #fff;
  font-size: clamp(14px, 1vh, 15px);
  line-height: 1.2rem;
}

.footer__image {
  width: 40%;
  padding-top: 1rem;
  height: 40%;
}
.footer__image a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.05s ease;
}
.footer__image a:hover {
  border: 1px solid white;
}
.footer__image img {
  width: 20px;
}

.footer__nav {
  padding-left: 1.5rem;
  width: 100%;
  padding-top: 2.5rem;
  height: 100%;
}

.nav__footer {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  list-style: none;
}
.nav__footer h3 {
  color: white;
  text-transform: capitalize;
  font-size: clamp(17px, 1vh, 17px);
  padding-bottom: 1rem;
}
.nav__footer li {
  margin-top: 0.8rem;
}
.nav__footer a {
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9rem;
}
.nav__footer a:hover {
  color: #fff;
}

.nav__footer--white a {
  color: #fff;
}

.nav__footer--padding {
  padding-top: 0.5rem;
}/*# sourceMappingURL=styles.css.map */